body {
  font-family: Arial, sans-serif;
  margin: 15px;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgb(74, 69, 105) 0%,
    rgba(88, 108, 108, 0.589) 35%,
    rgb(4, 60, 69) 100%
  );
}

.container {
  margin: 20px auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}
h2 {
  padding: inherit;
}

.blog-form {
  margin-top: 10px;
  display: ruby-text;
  background-color: ghostwhite;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
  display: contents;
}

.input-group input {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus {
  outline: none;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #0056b3;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.blog-post {
  background-color: ghostwhite;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-post h3 {
  margin-top: 0;
}

.blog-post p {
  margin: 10px 0;
}

.blog-post img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.search-bar {
  border-radius: 15px;
  background-color: ghostwhite;
  display: ruby-text;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
